openapi: 3.0.3
info:
  title: Bulktrack API
  version: 1.0.0
  description: |
    API definition for the BulkTrack application.
servers:
  - url: https://api.bulk-track.com/v1
    description: Production server
  - url: http://localhost:8787/v1
    description: Local development server

security:
  - BearerAuth: []

paths:
  # ---------------- Auth ---------------- #
  /v1/auth/device:
    post:
      summary: Activate a new device (anonymous onboarding)
      tags: [Auth]
      parameters:
        - name: X-Device-Id
          in: header
          required: true
          description: UUID v7 of the device
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Device tokens issued, content: { application/json: { schema: { $ref: '#/components/schemas/TokenResponse' } } } }
      security: []

  /v1/auth/apple:
    post:
      summary: Link or sign-in with Apple
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identityToken]
              properties:
                identityToken: { type: string, description: Apple identity token (JWT) }
      responses:
        '200': { description: User tokens, content: { application/json: { schema: { $ref: '#/components/schemas/TokenResponse' } } } }
      security: []

  /v1/auth/refresh:
    post:
      summary: Refresh access token
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshTokenRequest' }
      responses:
        '200': { description: Tokens refreshed, content: { application/json: { schema: { $ref: '#/components/schemas/TokenResponse' } } } }
      security: []

  /v1/auth/logout:
    post:
      summary: Log out (revoke refresh token)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshTokenRequest' }
      responses:
        '204': { description: Logged out }
      security: []

  # ---------------- Users & Devices ---------------- #
  /v1/users:
    post:
      summary: Create user manually (debug / admin)
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserCreate' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
  
  /v1/devices:
    post:
      summary: Register device to user (post-Apple link)
      tags: [Devices]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceCreate' }
      responses:
        '201': { description: Device registered, content: { application/json: { schema: { $ref: '#/components/schemas/Device' } } } }

  # ---------------- Exercises ---------------- #
  /v1/exercises:
    get:
      summary: Search or list recent exercises
      tags: [Exercises]
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Prefix search string
        - in: query
          name: locale
          schema: { type: string, default: ja }
      responses:
        '200': { description: List, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Exercise' } } } } }
    post:
      summary: Create custom exercise
      tags: [Exercises]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExerciseCreate' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Exercise' } } } }

  /v1/me/exercises/recent:
    get:
      summary: List recently used exercises for the authenticated user
      tags: [Exercises]
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
          description: Maximum number of exercises to return.
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Offset for pagination.
        - in: query
          name: locale
          schema:
            type: string
            default: ja
          description: Locale for exercise names (e.g., 'en', 'ja').
      responses:
        '200':
          description: A list of recently used exercises.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exercise'
        '401':
          description: Unauthorized
      security:
        - BearerAuth: []

  # ---------------- Sessions & Sets ---------------- #
  /v1/sessions:
    post:
      summary: Start workout session
      tags: [Sessions]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SessionStart' }
      responses:
        '201': { description: Started, content: { application/json: { schema: { $ref: '#/components/schemas/WorkoutSession' } } } }
    get:
      summary: List recent sessions
      tags: [Sessions]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
      responses:
        '200': { description: List, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/WorkoutSession' } } } } }

  /v1/sessions/{sessionId}:
    get:
      summary: Get session detail
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200': { description: Detail, content: { application/json: { schema: { $ref: '#/components/schemas/SessionDetail' } } } }

  /v1/sessions/{sessionId}/finish:
    post:
      summary: Finish session
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/SessionId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                finishedAt: { type: string, format: date-time }
      responses:
        '200': { description: Finished, content: { application/json: { schema: { $ref: '#/components/schemas/WorkoutSession' } } } }

  /v1/sessions/{sessionId}/sets:
    post:
      summary: Add set
      tags: [Sets]
      parameters:
        - $ref: '#/components/parameters/SessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetCreate' }
      responses:
        '201': { description: Recorded, content: { application/json: { schema: { $ref: '#/components/schemas/WorkoutSet' } } } }
    get:
      summary: List sets in session
      tags: [Sets]
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200': { description: List, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/WorkoutSet' } } } } }

  # ---------------- Dashboard ---------------- #
  /v1/dashboard:
    get:
      summary: Fetch dashboard aggregates
      tags: [Dashboard]
      parameters:
        - in: query
          name: span
          schema:
            type: string
            enum: [1w, 4w, 8w, 12w, 24w]
            default: 1w
          description: Week span window (inclusive, ending current ISO week).
      responses:
        '200':
          description: Dashboard payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardResponse' }

  # ---------------- Utility ---------------- #
  /v1/ping:
    get:
      summary: Health check
      tags: [Utility]
      responses:
        '200':
          description: pong
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: pong }
      security: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Global Bearer auth

  parameters:
    SessionId:
      name: sessionId
      in: path
      required: true
      schema: { type: string, format: uuid }

  # ---- Schemas (same as previous version, trimmed) ---- #
  schemas:
    TokenResponse:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        expiresIn: { type: integer }
      required: [accessToken, refreshToken, expiresIn]
    RefreshTokenRequest:
      type: object
      properties:
        refreshToken: { type: string }
      required: [refreshToken]
    UserCreate:
      type: object
      required: [displayName]
      properties:
        displayName: { type: string }
    User:
      allOf:
        - $ref: '#/components/schemas/UserCreate'
        - type: object
          properties:
            id: { type: string, format: uuid }
            createdAt: { type: string, format: date-time }
    DeviceCreate:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        platform: { type: string }
    Device:
      allOf:
        - $ref: '#/components/schemas/DeviceCreate'
        - type: object
          properties:
            deviceId: { type: string, format: uuid }
            linkedAt: { type: string, format: date-time }
    ExerciseCreate:
      type: object
      required: [canonicalName]
      properties:
        canonicalName: { type: string }
        locale: { type: string }
        name: { type: string }
        aliases: { type: string }
    Exercise:
      allOf:
        - $ref: '#/components/schemas/ExerciseCreate'
        - type: object
          properties:
            id: { type: string, format: uuid }
            isOfficial: { type: boolean }
            lastUsedAt: { type: string, format: date-time }
    SessionStart:
      type: object
      properties:
        menuId: { type: string, format: uuid, nullable: true, description: "Optional menu ID for the session. Can be null." }
    WorkoutSession:
      allOf:
        - $ref: '#/components/schemas/SessionStart'
        - type: object
          properties:
            id: { type: string, format: uuid }
            finishedAt: { type: string, format: date-time }
            createdAt: { type: string, format: date-time }
    SessionDetail:
      type: object
      properties:
        session: { $ref: '#/components/schemas/WorkoutSession' }
        sets:
          type: array
          items: { $ref: '#/components/schemas/WorkoutSet' }
    SetCreate:
      type: object
      required: [exerciseId]
      properties:
        exerciseId: { type: string, format: uuid }
        setNo:
          type: integer
          description: The number of the set within the exercise for the current session.
          nullable: true
          example: 1
        reps:
          type: integer
          description: Number of repetitions performed.
          nullable: true
          example: 10
        weight:
          type: number
          format: float
          description: Weight used for the set (e.g., in kg).
          nullable: true
          example: 60.5
        notes:
          type: string
          description: Optional notes for the set.
          nullable: true
          example: "Felt strong today."
        performedAt:
          type: string
          format: date-time
          description: |
            The time the set was performed, in ISO 8601 format (UTC).
            Expected format: YYYY-MM-DDTHH:mm:ss.sssZ (e.g., "2025-05-08T14:01:15.000Z").
            Milliseconds are optional but recommended.
          nullable: true
          example: "2025-05-08T14:01:15.123Z"
        rpe:
          type: number
          format: float
          description: Rate of Perceived Exertion (e.g., 1-10).
          nullable: true
          example: 7.5
        restSec:
          type: integer
          description: Rest time in seconds after this set.
          nullable: true
          example: 90
        deviceId:
          type: string
          description: ID of the device used to record the set.
          nullable: true
          example: "device-uuid-123"
    WorkoutSet:
      allOf:
        - $ref: '#/components/schemas/SetCreate'
        - type: object
          required:
            - id
            - exerciseId
            - setNo
            - performedAt
            - createdAt
          properties:
            id: { type: string, format: uuid }
            exerciseId: { type: string, format: uuid }
            setNo:
              type: integer
              description: The number of the set.
              example: 1
            performedAt:
              type: string
              format: date-time
              description: |
                The time the set was performed, in ISO 8601 format (UTC).
                Format: YYYY-MM-DDTHH:mm:ss.sssZ (e.g., "2025-05-08T14:01:15.000Z").
              example: "2025-05-08T14:01:15.000Z"
            volume:
              type: number
              format: float
              description: Calculated volume for the set (e.g., weight * reps).
              readOnly: true
              example: 605
            createdAt:
              type: string
              format: date-time
              description: Timestamp of when the set record was created.
              readOnly: true
              example: "2025-05-08T14:02:00.000Z"
    # ---- Dashboard Schemas ----
    WeekPoint:
      type: object
      required: [weekStart, totalVolume]
      properties:
        weekStart: { type: string, example: '2025-05-05' }
        totalVolume: { type: number, example: 12500 }
        avgSetVolume: { type: number, example: 180 }
        e1rmAvg: { type: number, nullable: true, example: 110 }

    MuscleSeries:
      type: object
      required: [muscleId, name, points]
      properties:
        muscleId: { type: integer }
        name: { type: string }
        points:
          type: array
          items: { $ref: '#/components/schemas/WeekPoint' }

    MetricSeries:
      type: object
      required: [metricKey, unit, points]
      properties:
        metricKey: { type: string, example: body_weight }
        unit: { type: string, example: kg }
        points:
          type: array
          items:
            type: object
            required: [weekStart, value]
            properties:
              weekStart: { type: string, example: '2025-05-05' }
              value: { type: number, example: 70.4 }

    DashboardResponse:
      type: object
      required: [userId, span, thisWeek, lastWeek, trend, muscles, metrics]
      properties:
        userId: { type: string, format: uuid }
        span: { type: string, example: 4w }
        thisWeek: { $ref: '#/components/schemas/WeekPoint' }
        lastWeek: { $ref: '#/components/schemas/WeekPoint' }
        trend:
          type: array
          items: { $ref: '#/components/schemas/WeekPoint' }
          description: Bar/line data for the requested span.
        muscles:
          type: array
          items: { $ref: '#/components/schemas/MuscleSeries' }
        metrics:
          type: array
          items: { $ref: '#/components/schemas/MetricSeries' }
    # ---- End Dashboard Schemas ----
